/* CSS declarations go here */
body {
    font-family: 'Helvetica Neue', 'Arial', verdana;
}

h1, h2, h3 {
    font-weight: 100;
    margin-top: 50px;
}
p {
    font-weight: 200;
}
a, a:visited {
    font-size: 12px;
}

hr {
    margin-top: 50px;
    height: 0;
    border: 0;
    border-bottom: 1px solid gray;
}
body {
  background-color: #000066;
  color: #FFFFFF;
}

.form-field *{
  vertical-align: middle;
}


